---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/header.astro';
import Footer from '../components/Footer.astro';
import Sidebar from '../components/sidebar.astro';
import Excerpt from '../components/excerpt.jsx';

import dayjs from 'dayjs';
import customParseFormat from 'dayjs/plugin/customParseFormat';
import { sortByDate } from '../helpers/date';
dayjs.extend(customParseFormat);

const posts: Post[] = await Astro.glob('./blog/*.{md,mdx}');

const highlightPosts = posts
  .filter((post) => !post.frontmatter.draft)
  .sort(sortByDate((x) => x.frontmatter.pubDate!))
  .slice(0, 3);
---

<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <BaseHead />
  </head>

  <body>
    <Header />

    <nav aria-label="breadcrumb">
      <ul>
        <li>
          <a href="/">Página Inicial</a>
        </li>
      </ul>
    </nav>

    <main>
      <section>
        <h2>Blog</h2>
        <div>
          {
            highlightPosts.map((post, index) => (
              <article>
                <small class="text-muted">
                  <time datetime={post.frontmatter.pubDate}>
                    {dayjs(post.frontmatter.pubDate, 'DD/MM/YYYY').format(
                      'DD/MM/YY',
                    )}
                  </time>
                </small>
                <h3>
                  <a href={post.url}>{post.frontmatter.title}</a>
                </h3>
                <Excerpt content={post.compiledContent()} />
                <p>
                  <a href={post.url} title="Keep reading">
                    Continuar lendo...
                  </a>
                </p>
              </article>
            ))
          }
        </div>
        <a href="/blog" title="More posts">Mais postagens</a>
      </section>

      <aside>
        <Sidebar />
      </aside>
    </main>
    <footer>
      <Footer />
    </footer>
  </body>
</html>
